<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>HB FOOD

        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/estilos.css">    
</head>
<body>
    <div class='cabecalho'>
        <h1>{{pagina_nome}}</h1>
    </div>
    <div class='imgindex'>
        <img src="../static/index.png" alt="">
    </div>
    <div class='segmento'>
        <ul>
            <h1>Olá Colaborador!</h1>
            <h3>Faça as alterações para a atualização do estoque:</h3>
            <hr>
            <li><a href="/prato">Prato</a></li>
            <hr>
            <li><a href="/bebida">Bebida</a></li>
            <hr>
            <li><a href="/sobremesa">Sobremesa</a></li>
            <hr>
        </ul>
    </div>
    
        
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crosson="anonymous"></script>
    <script srrigic="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>

        