<head>

    <!-- <title>{{pagina_inicial}}</title> -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class='cabecalho'>
        <div class="logo">
            <a href="/">{{pagina_inicial}}</a>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/bebida">Bebida</a>
                </li>
                <li>
                    <a href="/comida">Comida</a>
                </li>
                <li>
                    <a href="/sobremesas">Sobremesas</a>
                </li>
                <li>
                    <a href="/pedido">Pedido</a>
                </li>

            </ul>
        </div>

    </div>
    {% block index %} 
    {% endblock %}
</body>

</html>